﻿@model IEnumerable<TG.Exam.WebMVC.Models.User>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Fetch method</th>
                </tr>
            </thead>
            <tbody id="table-body">
                @foreach (var usr in Model)
                {
                <tr>
                    <td>@usr.FirstName</td>
                    <td>@usr.LastName</td>
                    <td>@usr.Age</td>
                    <td>Sync</td>
                </tr>
                }
            </tbody>
        </table>